{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
<! ignore prettier ->{% block content %}

<section class="container-fluid" id="main">
  <!-- contact -->

  <form
    class="bg-warning-subtle"
    action=""
    method="post"
    enctype="multipart/form-data"
  >
    {%csrf_token%}
    <div class="container-fluid w-75 p-3">
      <h1 class="text-center display-2">Contact Us</h1>
      <p class="lh-base text-center ms-5 me-5">
        <i class="bi bi-telephone-fill"></i> 662-871-8066 <br />
        <a
          class="link-underline link-underline-opacity-0"
          href="https://www.facebook.com/mississippilicensedcontractors"
          ><i class="bi bi-facebook"></i> Follow us on Facebook</a
        >
        <br />Thank you for considering Wilco Real Estate and Construction for
        your rental and construction needs. Please take a moment to fill out the
        form below, and we'll get back to you promptly to discuss how we can
        assist you in achieving your project goals. <br /><br />
        By submitting this form, you authorize Wilco Real Estate and
        Construction to contact you regarding your inquiry. We respect your
        privacy and will not share your information with third parties. Once we
        receive your information, our expert team will carefully review your
        project details and provide you with a comprehensive quote within 7
        business days. We appreciate the opportunity to work with you and look
        forward to making your construction vision a reality. Thank you for
        choosing Wilco Real Estate and Construction.
      </p>

      <div class="mb-3">
        <div class="row mb-2">
          <div class="col form-field">
            <label for="first_name" class="form-label">First Name</label>
            {% render_field contact_view.first_name class="form-control" %}
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Last Name</label
            >
            {% render_field contact_view.last_name class="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone</label
            >
            {% render_field contact_view.phone class="form-control" %}
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            {% render_field contact_view.email class="form-control" %}
          </div>
        </div>
      </div>
      <label for="exampleFormControlInput1" class="form-label"
        >Categories</label
      >
      <select name="subject" class="form-select">
        <option value="" selected disabled>Select a category</option>
        <option value="Rentals">Rentals</option>
        <option value="Construction">Construction</option>
        <option value="Other">Other</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >How can we help?</label
        >
        {% render_field contact_view.message class="form-control" %}
      </div>

      <button type="submit" class="btn btn mb-3" id="button-yellow">
        Submit
      </button>
    </div>
  </form>
</section>

{% endblock content %}
