{% extends 'base.html' %} {% load static %}{% load widget_tweaks %}
<! ignore prettier ->
{% block content %}
<section class="container-fluid" id="main">
  <div class="container-fluid w-75 p-3">
    <h1 class="text-center display-2 pb-3">Create a Property</h1>
    <div class="card p-2 bg-warning-subtle">
      <form
        method="post"
        class="bg-warning-subtle"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="mb-3">
          <div class="row mb-2">
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >Address</label
                >
                {% render_field property_form.address class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >City</label
                >
                {% render_field property_form.city class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >Price</label
                >

                {% render_field property_form.price class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >Square Footage</label
                >
                {% render_field property_form.squareFoot class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >Bedrooms</label
                >
                {% render_field property_form.bedrooms class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="form_field">
                <label for="exampleFormControlInput1" class="form-label"
                  >Baths</label
                >
                {% render_field property_form.bathrooms class="form-control" %}
              </div>
            </div>
          </div>
          <div class="form_field pt-2">
            <label for="exampleFormControlInput1" class="form-label"
              >Pet Friendly</label
            >
            {% render_field property_form.isPetFriendly type="checkbox" %}
          </div>
          <div class="form_field">
            <label for="exampleFormControlInput1" class="form-label"
              >Description</label
            >
            {% render_field property_form.description class="form-control" %}
          </div>

          <div class="form-field pt-2">
            <label>Upload Images:</label>
            <p>The first image you add will be the one displayed</p>
            {{ property_photo_formset.management_form }}
            <div id="photo-formset">
              {% for form in property_photo_formset %}
              <div class="file-upload-container">{{form.picture}}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- You may display additional form fields for PropertyPhoto here if needed -->
        {% if property_form.non_field_errors %}
        <div class="alert alert-danger mt-3">
          {{ property_form.non_field_errors }}
        </div>

        {% endif %}
        <button class="btn btn-warning m-2" type="submit">Create</button>
        <a class="btn btn-warning" href="{% url 'manager_interface' %}"
          >Cancel</a
        >
      </form>
    </div>
  </div>
</section>

{% endblock content %}
