{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <p>Are you sure you want to delete "{{ property }}"</p>
        <form action="{% url 'delete_property' property.id %}" method="POST">
          {% csrf_token %}
          <a class="btn btn-warning" href="{% url 'manager' %}">Cancel</a>
          <input class="btn btn-danger" type="submit" name="confirm" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
