{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="container-fluid w-75 p-3">
    <div class="card p-2 bg-warning-subtle shadow">
      <div>
        Are you sure you want to delete the lease for
        <strong>{{lease}}?</strong>
      </h3>
      <p>Current Tenants include:</p>
      {% for tenant in tenants %}
      <p>{{tenant}} {% endfor %}</p>
      <form action="{% url 'delete_lease' lease.id %}" method="POST">
        {% csrf_token %}
        <input class="btn btn" id="button-red" type="submit" name="confirm" />
        <a class="btn btn" id="button-yellow" href="{% url 'manager_interface' %}">Cancel</a>
      </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
