{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="container-fluid w-75 p-3">
    <div class="card p-2 bg-warning-subtle shadow">
      <div>
        <p>Are you sure you want to delete "{{ photo }}"?</p>
        <form action="{% url 'delete_photo' photo.id %}" method="POST">
          {% csrf_token %}
          <a class="btn btn-warning" href="{% url 'manager_interface' %}"
            >Cancel</a
          >
          <input class="btn btn-danger" type="submit" name="confirm" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
