{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="container-fluid w-75 p-3">
    <div class="card p-2 bg-warning-subtle shadow">
      <div>
        <p class="display-6">
          Thank you for your interest in Wilco Real Estate and Construction, we
          will get in touch with you soon!
        </p>
        <br /><a href="{% url 'home' %}"
          ><button type="button" class="btn btn" id="button-yellow">
            Home
          </button></a
        >
      </div>
    </div>
  </div>
</section>

{% endblock content %}
