<form class="bg-warning-subtle" action="" method="post">
  {%csrf_token%}
  <div class="container-fluid w-75 p-3">
    <div class="mb-3">
      <div class="row mb-2">
        <div class="col">
          <label for="first_name" class="form-label">First Name</label>
          <input
            type="text"
            name="first_name"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
            required
          />
          <label for="exampleFormControlInput1" class="form-label"
            >First Name</label
          >
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >Last Name</label
          >
          <input
            type="text"
            name="last_name"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Phone</label>
          <input
            type="text"
            name="phone"
            class="form-control"
            placeholder="555-555-5555"
            aria-label="Phone"
            required
          />
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            placeholder="email@emailprovider.com"
            aria-label="email"
            required
          />
        </div>
      </div>
    </div>
    <label for="exampleFormControlInput1" class="form-label">Catagories</label>
    <select
      class="form-select mb-2"
      aria-label="Default select example"
      required
    >
      <option selected>Please select an area we can help you with</option>
      <option value="1">Rentals</option>
      <option value="2">Contracts</option>
      <option value="3">Other</option>
    </select>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >How can we help?</label
      >
      <textarea
        name="message"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
    </div>

    <button type="submit" class="btn btn-warning mb-3">Submit</button>
  </div>
</form>
