{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilco Real Estate and Construction</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
</head>


<body>
  <div id="header">
    <img src ="{% static "images\logo.jpg"%}" width="30%"> 
    <button class="get_started"><a href="{% url "register" %}">Sign-up</a></button>
      <button class="home"><a href="">Home</a></button>
      <button class="rentals"><a href="">Rentals</a></button>
     <button class="construction"><a href="">Construction</a></button>
    {% comment %} <h1 class="headertext">Wilco Real Estate and Construction</h1> {% endcomment %}
  </div>
    
    <div class="navdiv">
        
        <nav class="navbar">
{% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <button class="navb"><a href="{% url "home" %}">Home</a></button>
            <button class="navb"><a href="{% url "logout" %}">Logout</a></button>
<div><img src="media/images/DD.jfif" alt=""></div>
 {% endif %}
        </nav>

    </div>

    

   {% block content %}

   {% if not user.is_authenticated %}
   <div class="Welcome">Here to help you with your rent</div>
   <div class="get_started_card">
   
   </div>
   {% endif %} {% endblock content %}
  </body>
</html>