{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container-fluid mt-0" id="main">
  <!-- image carousel -->
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/house1.jpg"%}" class="d-block w-100"
        alt="house1" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Oxford, MS</h5>
          <p>3 Bedroom 2 Bath 2000 sqft</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "images/house2.jpg"%}" class="d-block w-100"
        alt="house2" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Pontotoc, MS</h5>
          <p>4 Bedroom 3 Bath 4000 sqft</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "images/house3.jpg"%}" class="d-block w-100"
        alt="house3" />
        <div class="carousel-caption d-none d-md-block">
          <h5>New Albany, MS</h5>
          <p>2 Bedroom 2 Bath 1500 sqft</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- about company text -->
  <p class="text-center display-2">Welcome</p>
  <p class="lh-base text-center ms-5 me-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
    perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
    Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
    nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
    natus adipisci aliquam unde voluptates incidunt repellendus culpa
    praesentium voluptatum error aspernatur odio tempora corporis perferendis
    quasi iure non assumenda repellat!
  </p>
  <!-- featured content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card shadow-sm mb-5 bg-body-tertiary rounded">
          <img src="{% static "images\how-to-design-a-house.jpg"%}"
          class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title mt-2">Featured Property</h5>
            <p class="card-text">...</p>
            <a href="{% url 'properties' %}" class="btn btn-warning"
              >View All</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow-sm mb-5 bg-body-tertiary rounded">
          <img src="{% static "images\construction-hero@2x.jpg"%}"
          class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title mt-2">Featured Contract</h5>
            <p class="card-text">...</p>
            <a href="contract.html" class="btn btn-warning">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact -->
  <form
    onsubmit="sendEmail(); reset(); return false;"
    class="bg-warning-subtle"
    id="contact-form"
  >
    <div class="container-fluid w-75 p-3">
      <p class="text-center display-2">Contact Us</p>
      <p class="lh-base text-center ms-5 me-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
        perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
        Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
        nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        natus adipisci aliquam unde voluptates incidunt repellendus culpa
        praesentium voluptatum error aspernatur odio tempora corporis
        perferendis quasi iure non assumenda repellat!
      </p>

      <div class="mb-3">
        <div class="row mb-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              id="firstname"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone</label
            >
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="555-555-5555"
              aria-label="Phone"
            />
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            <input
              type="text"
              id="email"
              class="form-control"
              placeholder="email@emailprovider.com"
              aria-label="email"
            />
          </div>
        </div>
      </div>
      <label for="exampleFormControlInput1" class="form-label"
        >Catagories</label
      >
      <select
        class="form-select mb-2"
        aria-label="Default select example"
        id="email"
      >
        <option selected>Please select an area we can help you with</option>
        <option value="1">Rentals</option>
        <option value="2">Contracts</option>
        <option value="3">Other</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >How can we help?</label
        >
        <textarea class="form-control" id="msg" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-warning mb-3">Submit</button>
    </div>
  </form>
</section>
{% endblock content %}
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  function sendEmail() {
    Email.send({
      Host: "smtp.elasticemail.com",
      Username: "ashleybglasz@gmail.com",
      Password: "64446D35DE84403E1107AB31E8702B4E01C3",
      To: "ashleybglasz@gmail.com",
      From: document.getElementById("email").value,
      Subject: "Wilco Website Inquiry",
      Body:
        "Name: " +
        document.getElementById("firstname").value +
        "" +
        document.getElementById("lastname").value +
        "<br> Email: " +
        document.getElementById("email").value +
        "<br> Catagory:" +
        document.getElementById("catagory").value +
        "<br> Message: " +
        document.getElementById("msg").value,
    }).then((message) => alert(message));
  }
</script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script type="text/javascript">
  (function () {
    emailjs.init("K-mlFzmNFqaa6-QOL");
  })();
</script>
<script type="text/javascript">
  window.onload = function () {
    document
      .getElementById("contact-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        // generate a five digit number for the contact_number variable
        this.contact_number.value = (Math.random() * 100000) | 0;
        // these IDs from the previous steps
        emailjs.sendForm("contact_service", "contact_form", this).then(
          function () {
            console.log("SUCCESS!");
          },
          function (error) {
            console.log("FAILED...", error);
          }
        );
      });
  };
</script>
