{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container-fluid" id="main">
  <div class="container-fluid w-50 p-3">
    <div class="card p-2 bg-warning-subtle shadow">
      <form class="bg-warning-subtle" method="POST">
        <h3 class="card-title mt-2 display-6">LOGIN</h3>
        {% csrf_token %}

        <div class="mb-2">
          <label for="exampleFormControlInput1" class="form-label"
            ><i class="bi bi-person-circle"></i>
          </label>
          <input
            type="text"
            name="username"
            placeholder="Username..."
            class="form-control"
          />
        </div>

        <div>
          <label for="exampleFormControlInput1" class="form-label"
            ><i class="bi bi-key-fill"></i>
          </label>

          <input
            type="password"
            name="password"
            placeholder="Password..."
            class="form-control"
          />
        </div>
        <button class="btn btn-warning ms-3 mt-3 mb-3 me-1" type="submit">
          Login
        </button>
        <button class="btn btn-warning">
          <a
            href="{% url 'register' %}"
            class="btn-warning link-body-emphasis link-offset-2 link-underline link-underline-opacity-0"
            >Register</a
          >
        </button>
        <button class="btn btn-warning">
          <a
            href="{% url 'reset_password' %}"
            class="btn-warning link-body-emphasis link-offset-2 link-underline link-underline-opacity-0"
            >Forgot Password</a
          >
        </button>
      </form>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
