{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container-fluid" id="main">
  <div class="container-fluid w-75 p-3">
    <div class="card p-2 bg-warning-subtle shadow">
      <div>
        <h3>Password reset</h3>
        <p>
          Forgotten your password? Enter your email address below, and we'll
          email instructions for setting a new one.
        </p>

        <form method="post">
          {% csrf_token %} {{form}}
          <input class="btn btn-warning" type="Submit" name="Send email" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
