{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  .negative {
    color: red;
    font-weight: bold;
  }
  .positive {
    color: green;
  }
</style>

<section class="container-fluid">
  <div class="text-center">
    <h1 class="text-center display-2 mt-3">Payment Portal</h1>
    {% if user.is_authenticated %}

    <div class="d-flex mt-4">
      <div class="p-2 w-75">
        <div class="card">
          <div class="card-header bg-warning">Current Rent</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <br />
            <table class="table table-bordered">
              <tr>
                <th>Address</th>
                <td>{{lease.linkToProperty}}</td>
              </tr>
              <tr>
                <th>Rent</th>
                <td>${{lease.pricePerMonth|floatformat:2}}</td>
              </tr>
              <tr>
                <th>Due By</th>
                <td>{{lease.dueDate}}</td>
              </tr>
              <tr>
                <th>Late Fee</th>
                {% if lease.isLate %}
                <td>
                  <span class="negative"
                    >(${{lease.lateFee|floatformat:2}})</span
                  >
                </td>
                {% else %}
                <td>No late Fee</td>
                {% endif %}
              </tr>
              <tr>
                <th>Balance</th>

                <td>
                  {% if lease.currentBalance < 0 %}
                  <span class="negative"
                    >(${{ lease.currentBalance|floatformat:2 }})</span
                  >{% else %}
                  <! ignore prettier ->
                  <span class="positive">
                    ${{ lease.currentBalance|floatformat:2 }} </span
                  >{% endif %}
                </td>
              </tr>
              <tr>
                <th>Amount Due</th>
                <td>${{amount_owed|floatformat:2}}</td>
              </tr>
            </table>
            <p>tenant: {{tenant}}</p>
            <p>payment history: {{payment_history}}</p>
            <p>lease: {{lease}}</p>
            <p>properties: {{properties}}</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-shrink-1">
        <div class="card rounded-3">
          <div class="card-header bg-success" id="pay-rent-header">
            Pay Rent
          </div>

          <div class="card-body mx-1 my-2">
            <div class="pt-3">
              <div
                class="d-flex justify-content-between align-items-center pb-1"
              >
                <form
                  enctype="multipart/form-data"
                  method="post"
                  role="payment_portal"
                >
                  {% csrf_token %}
                  <h5 class="card-title">
                    Hi {{ user }}! To pay, select either the pay full amount or
                    choose a amount to pay a portion of your rent now and the
                    rest later. Then click on the Pay Now button below
                  </h5>

                  <div
                    class="rounded border border-2 d-flex w-100 p-3 align-items-center"
                    style="background-color: rgba(18, 101, 241, 0.07)"
                  >
                    <div class="d-flex align-items-center pe-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="payment_option"
                        id="payFullAmount"
                        value="full"
                      />

                      <label class="form-check-label" for="payFullAmount">
                        Pay Full Rent: ${{amount_owed|floatformat:2}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mt-2 border p-3 rounded">
                    <div class="d-flex align-items-center pe-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="payment_option"
                        id="radioNoLabel22"
                        value="custom"
                      />
                    </div>
                    <label for="payment_amount"
                      >Choose a Different Amount:</label
                    >
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input
                        type="float"
                        class="form-control"
                        name="payment_amount"
                        id="paymentAmountInput"
                        required
                      />
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="btn btn m-2"
                    href="{% url 'payment_portal' %}"
                    data-bind-href="pricing"
                    id="button-green"
                  >
                    Pay Now
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-4">
      <div class="p-2 w-75">
        <div class="card">
          <div class="card-header bg-warning">Payment History</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <br />
            <table class="table table-bordered">
              <tr>
                <th>Date Due</th>
                <th>Date Paid</th>
                <th>Amount Paid</th>
              </tr>
              {% for payment in payment_history %}
              <tr>
                <td>{{payment.dueDate}}</td>
                <td>{{payment.dateCreated}}</td>
                <td>${{payment.payment_amount|floatformat:2}}</td>
              </tr>
              {% endfor %}
            </table>
            <p>tenant: {{tenant}}</p>
            <p>payment history: {{payment_history}}</p>
            <p>lease: {{lease}}</p>
            <p>properties: {{properties}}</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-shrink-1">
        <div class="card">
          <div class="card-header bg-info-subtle">Extras</div>
          <div class="card-body">
            <h5 class="card-title">How To Use This Page</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <h2>You're not logged in...</h2>
    <a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
    {% endif %}
  </div>
</section>

<script>
  const payFullAmountCheckbox = document.getElementById("payFullAmount");
  const paymentAmountInput = document.getElementById("paymentAmountInput");
  const payFullAmountContainer = payFullAmountCheckbox.closest(".border");
  const otherAmountCheckbox = document.getElementById("radioNoLabel22");
  const otherAmountContainer = otherAmountCheckbox.closest(".border");

  payFullAmountCheckbox.addEventListener("change", () => {
    if (payFullAmountCheckbox.checked) {
      paymentAmountInput.value = ""; // Clear custom payment input
      paymentAmountInput.disabled = true;
      paymentAmountInput.removeAttribute("required");
      payFullAmountContainer.classList.add("border-success");
      payFullAmountContainer.style.backgroundColor = "rgba(92, 184, 92, 0.07)";
      otherAmountContainer.classList.remove("border-success");
      otherAmountContainer.style.backgroundColor = "transparent";
      otherAmountCheckbox.checked = false;
    } else {
      paymentAmountInput.disabled = false;
      paymentAmountInput.setAttribute("required", "");
      payFullAmountContainer.classList.remove("border-success");
      payFullAmountContainer.style.backgroundColor = "transparent";
    }
  });

  otherAmountCheckbox.addEventListener("change", () => {
    if (otherAmountCheckbox.checked) {
      paymentAmountInput.disabled = false;
      paymentAmountInput.setAttribute("required", "");
      otherAmountContainer.classList.add("border-success");
      otherAmountContainer.style.backgroundColor = "rgba(92, 184, 92, 0.07)";
      payFullAmountContainer.classList.remove("border-success");
      payFullAmountContainer.style.backgroundColor = "transparent";
      payFullAmountCheckbox.checked = false;
    } else {
      paymentAmountInput.value = ""; // Clear custom payment input
      paymentAmountInput.disabled = true;
      paymentAmountInput.removeAttribute("required");
      otherAmountContainer.classList.remove("border-success");
      otherAmountContainer.style.backgroundColor = "transparent";
    }
  });
</script>

{% endblock content %}
