{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid" id="main">
  <!-- about company text -->
  <h1 class="text-center display-2">Rentals</h1>
  <p class="lh-base text-center ms-5 me-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
    perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
    Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
    nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
    natus adipisci aliquam unde voluptates incidunt repellendus culpa
    praesentium voluptatum error aspernatur odio tempora corporis perferendis
    quasi iure non assumenda repellat!
  </p>
  <!-- Search form -->
  <div class="ms-5 me-5">
  <form class="d-flex col mt-3" role="search" method="get" action="{% url 'properties' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="search" value="{{ search_query }}" placeholder="Search..." aria-label="Search">
    <button class="btn btn-warning me-2" type="submit">Search</button>
  </form>
<br>

  <div class="m-3 d-flex justify-content-evenly">
      <form class="d-flex ">
        <div class="form-floating me-3">
          <select class="form-select" id="category" aria-label="Floating label select example" name="category">
            <option value="" selected disabled>Select Category</option>
            <option value="bathrooms">Bathrooms</option>
            <option value="bedrooms">Beds</option>
            
          </select>
          <label for="sort-category" class="text-warning">Sort by Catagory:</label>
        </div>
        <div class="form-floating">
          <select class="form-select" id="sort-order" aria-label="Floating label select example" name="sort">
       
            <option value="" selected disabled>Select Category</option>
            <option value="desc">High-to-Low</option>
            <option value="asc">Low-to-High</option>
            
          </select>
          <label for="sort-order" class="text-warning">Sort Order:</label>
        </div>
       
          <button class="btn btn-warning ms-3" type="submit">Sort</button>
          <button class="btn btn-warning ms-3" type="reset">Reset</button>
      </form>
  </div>
</div>

  



  <!-- rental cards -->

  <div class="row mb-3" id="rental-cards-container">
    
    <!-- Show all properties if search_query does not exist -->
    {% for property in properties %}
    {% if property.isRented == False %}
    <div class="col-sm-12 col-md-3 mb-3 mb-sm-0 mx-auto rental-card" data-address="{{ property.address }}" data-city="{{ property.city }}" data-isRented="{{ property.isRented }}" data-price="{{ property.price }}" data-squarefoot="{{ property.squarefoot }}" data-bedrooms="{{ property.bedrooms }}" data-numOfBathrooms="{{ property.bathrooms }}" data-isPetFriendly="{{ property.isPetFriendly }}">
  
      <div class="card mt-3">
        {% with property_photo=property.propertyphoto_set.first %}
        <! ignore prettier ->
        {% if property_photo %}
       
        <img
          src="{{ property_photo.picture.url }}"
          class="card-img-top"
          alt="{{ property.address }}"
        />
        {% else %}
        <p class="card-text">No Image Found</p>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.address }}</h5>
          <p class="card-text">Bedrooms: {{ property.bedrooms }}</p>
          <p class="card-text">Bathrooms: {{ property.bathrooms }}</p>
          <div class="overflow-y-scroll" style="height: 100px;"><p class="card-text">{{ property.description }}</p></div>
          
          <p class="card-text">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ property.id }}">
              Info
            </button>

            <!-- Modal -->
            <div class="modal fade modal-lg" id="{{ property.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-warning">
                 
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ property.address }}</h1>
                 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% with property_photo=property.propertyphoto_set.all %}
                    {% if property_photo %}
              
                    <! ignore prettier ->
                    {% for photo in property_photo %}
                    <img
                      src="{{ photo.picture.url }}"
                      class="card-img-top p-2"
                      alt="{{ property.address }}"
                    />
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                  <br>
                    <p class="card-text">Bedrooms: {{ property.bedrooms }}</p>
                    <p class="card-text">Bathrooms: {{ property.bathrooms }}</p>
                    <p class="card-text">{{ property.description }}</p>

                  </div>
                  <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div> 

<!--end modal-->
            {% if user.is_staff %}

            <a href="{% url 'update_property' property.id %}"
                ><button type="button" class="btn btn-primary">Edit</button></a
              >
            {% endif %}
          </p>
        </div>
      </div>
    </div> {% endwith %}
    {% endif %}
    {% endfor %}
  </div>
<!--PAGINATION-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if properties.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            &laquo; First
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ properties.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}

      {% for page in properties.paginator.page_range %}
        {% if page == properties.number %}
          <li class="page-item active" aria-current="page">
            <span class="page-link bg-warning">{{ page }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link " href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if properties.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ properties.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ properties.paginator.num_pages }}" aria-label="Last">
            Last &raquo;
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>

  
</section>
{% endblock content %}
