{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid" id="main">
  <!-- about company text -->
  <h1 class="text-center display-2">Rentals</h1>
  <p class="lh-base text-center ms-5 me-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
    perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
    Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
    nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
    natus adipisci aliquam unde voluptates incidunt repellendus culpa
    praesentium voluptatum error aspernatur odio tempora corporis perferendis
    quasi iure non assumenda repellat!
  </p>
  {% include "search_property.html" %}
  <!-- rental cards -->

  <div class="row mb-3" id="rental-cards-container">
    
    {% for property in properties %}
    {% if property.isRented == False %}
    <div class="col-sm-12 col-md-3 mb-3 mb-sm-0 mx-auto rental-card" data-address="{{ property.address }}" data-city="{{ property.city }}" data-isRented="{{ property.isRented }}" data-price="{{ property.price }}" data-squarefoot="{{ property.squarefoot }}" data-numOfBedrooms="{{ property.numOfBedrooms }}" data-numOfBathrooms="{{ property.numOfBathrooms }}" data-isPetFriendly="{{ property.isPetFriendly }}">
  
      <div class="card mt-3">
        {% with property_photo=property.propertyphoto_set.first %}
        <! ignore prettier ->
        {% if property_photo %}
        <img
          src="{{ property_photo.picture.url }}"
          class="card-img-top"
          alt="{{ property.address }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.address }}</h5>
          <p class="card-text">Bedrooms: {{ property.numOfBedrooms }}</p>
          <p class="card-text">Bathrooms: {{ property.numOfBathrooms }}</p>
          <p class="card-text">{{ property.description }}</p>
          <p class="card-text">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ property.id }}">
              Info
            </button>

            <!-- Modal -->
            <div class="modal fade modal-lg" id="{{ property.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-warning">
                 
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ property.address }}</h1>
                 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% with property_photo=property.propertyphoto_set.all %}
                    {% if property_photo %}
              
                    <! ignore prettier ->
                    {% for photo in property_photo %}
                    <img
                      src="{{ photo.picture.url }}"
                      class="card-img-top p-2"
                      alt="{{ property.address }}"
                    />
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                  <br>
                    <p class="card-text">Bedrooms: {{ property.numOfBedrooms }}</p>
                    <p class="card-text">Bathrooms: {{ property.numOfBathrooms }}</p>
                    <p class="card-text">{{ property.description }}</p>

                  </div>
                  <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div> 

<!--end modal-->
            {% if user.is_staff %}

            <a href="{% url 'update_property' property.id %}"
                ><button type="button" class="btn btn-primary">Edit</button></a
              >
            {% endif %}
          </p>
        </div>
      </div>
    </div> {% endwith %}
    {% endif %}
    {% endfor %}
  </div>

 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> 
  <!-- rental inquires -->
  {% comment %} <form class="bg-warning-subtle" action="" id="rentalform">
    <div class="container-fluid w-75 p-3">
      <p class="text-center display-2">Inquire about a Rental</p>
      <p class="lh-base text-center ms-5 me-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
        perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
        Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
        nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        natus adipisci aliquam unde voluptates incidunt repellendus culpa
        praesentium voluptatum error aspernatur odio tempora corporis
        perferendis quasi iure non assumenda repellat!
      </p>

      <div class="mb-3">
        <div class="row mb-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="555-555-5555"
              aria-label="Phone"
            />
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="email@emailprovider.com"
              aria-label="email"
            />
          </div>
        </div>
      </div>
      <label for="exampleFormControlInput1" class="form-label">Location</label>
      <select class="form-select mb-2" aria-label="Default select example">
        <option selected>Please select an area you'd like to rent in:</option>
        <option value="1">Oxford</option>
        <option value="2">Tupelo</option>
        <option value="3">Saltillo</option>
        <option value="4">Baldwyn</option>
        <option value="5">West Point</option>
        <option value="6">Booneville</option>
        <option value="7">Guntown</option>
        <option value="8">Amory</option>
        <option value="9">New Albany</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Please give us some details of what you are looking for:</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-warning mb-3">Submit</button>
    </div>
  </form> {% endcomment %}
</section>

{% endblock content %}
