{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
<! ignore prettier ->{% block content %}

<section class="container-fluid" id="main">
  <!-- contact -->

  <form
    class="bg-warning-subtle"
    action=""
    method="post"
    enctype="multipart/form-data"
  >
    {%csrf_token%}
    <div class="container-fluid w-75 p-3">
      <h1 class="text-center display-2">Get a Quote</h1>
      <p class="lh-base text-center ms-5 me-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
        perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
        Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
        nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        natus adipisci aliquam unde voluptates incidunt repellendus culpa
        praesentium voluptatum error aspernatur odio tempora corporis
        perferendis quasi iure non assumenda repellat!
      </p>

      <div class="mb-3">
        <div class="row mb-2">
          <div class="col form-field">
            <label for="first_name" class="form-label">First Name</label>
            {% render_field quote_view.first_name class="form-control" %}
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Last Name</label
            >
            {% render_field quote_view.last_name class="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone</label
            >
            {% render_field quote_view.phone class="form-control" %}
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            {% render_field quote_view.email class="form-control" %}
          </div>
        </div>
      </div>
      <label for="exampleFormControlInput1" class="form-label"
        >Catagories</label
      >
      <select class="form-select">
        {% render_field quote_view.subject class="custom-select form-select" %}
        <option val="Residential">Residential</option>
        <option val="Commercial">Commercial</option>
        <option val="Other">Other</option>
      </select>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Explain the work needed in as much detail as possible.</label
        >
        {% render_field quote_view.message class="form-control" %}
      </div>

      <button type="submit" class="btn btn mb-3" id="button-yellow">
        Submit
      </button>
    </div>
  </form>
</section>

{% endblock content %}
