<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <style>
      section {
        padding: 150px 0;
      }
    </style>
  </head>

  <!-- Navbar -->
  <nav class="navbar bg-gradient fixed-top mb-5 bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="home2.html">
        <img src="images/wilcologotransp.png" alt="Wilco" width="200" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home2.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contract.html">Contract</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Rentals
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="Rentals.html">View Rentals</a>
                </li>
                <hr class="dropdown-divider" />
                <li><a class="dropdown-item" href="#">Pay Rent</a></li>
                <li></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-warning" type="submit">
              Search
            </button>
          </form>
          <a href="https://www.facebook.com/mississippilicensedcontractors"
            ><i class="bi bi-facebook"></i
          ></a>
        </div>
      </div>
    </div>
  </nav>
  <!-- body -->

  <body>
    <section class="container-fluid" id="main">
      <!-- about company text -->
      <p class="text-center display-2">Rentals</p>
      <p class="lh-base text-center ms-5 me-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, omnis
        perspiciatis sint voluptatum tempore sunt iusto ab at aspernatur illo!
        Possimus totam eligendi aliquid corrupti quis voluptas ipsum repellendus
        nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        natus adipisci aliquam unde voluptates incidunt repellendus culpa
        praesentium voluptatum error aspernatur odio tempora corporis
        perferendis quasi iure non assumenda repellat!
      </p>
      <!-- rental cards -->

      <div class="card w-75 mb-3 mx-auto">
        <img src="images/house1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <a href="#rentalform"
              ><button type="button" class="btn btn-warning">
                Contact Us
              </button></a
            >
          </p>
        </div>
      </div>

      <div class="card w-75 mb-3 mx-auto">
        <img src="images/house2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <a href="#rentalform"
              ><button type="button" class="btn btn-warning">
                Contact Us
              </button></a
            >
          </p>
        </div>
      </div>

      <div class="card w-75 mb-3 mx-auto">
        <img src="images/house3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <a href="#rentalform"
              ><button type="button" class="btn btn-warning">
                Contact Us
              </button></a
            >
          </p>
        </div>
      </div>
      <!-- rental inquires -->
      <form class="bg-warning-subtle" action="" id="rentalform">
        <div class="container-fluid w-75 p-3">
          <p class="text-center display-2">Inquire about a Rental</p>
          <p class="lh-base text-center ms-5 me-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            omnis perspiciatis sint voluptatum tempore sunt iusto ab at
            aspernatur illo! Possimus totam eligendi aliquid corrupti quis
            voluptas ipsum repellendus nam? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eligendi, natus adipisci aliquam unde
            voluptates incidunt repellendus culpa praesentium voluptatum error
            aspernatur odio tempora corporis perferendis quasi iure non
            assumenda repellat!
          </p>

          <div class="mb-3">
            <div class="row mb-2">
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >First Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  aria-label="First name"
                />
              </div>
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Last Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  aria-label="Last name"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Phone</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="555-555-5555"
                  aria-label="Phone"
                />
              </div>
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="email@emailprovider.com"
                  aria-label="email"
                />
              </div>
            </div>
          </div>
          <label for="exampleFormControlInput1" class="form-label"
            >Location</label
          >
          <select class="form-select mb-2" aria-label="Default select example">
            <option selected>
              Please select an area you'd like to rent in:
            </option>
            <option value="1">Oxford</option>
            <option value="2">Tupelo</option>
            <option value="3">Saltillo</option>
            <option value="1">Baldwyn</option>
            <option value="2">West Point</option>
            <option value="3">Booneville</option>
            <option value="1">Guntown</option>
            <option value="2">Amory</option>
            <option value="3">New Albany</option>
          </select>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Please give us some details of what you are looking for:</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-warning mb-3">Submit</button>
        </div>
      </form>
    </section>

    <!-- footer -->
    <div class="card-footer bg-warning border-success pt-4 text-center mb-0">
      This website was build by students at
      <a href="#" class="link-dark link-underline link-underline-opacity-0"
        >Base Camp Coding Academy Graduate Institute</a
      >
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
